<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body ng-controller="calendarCtrl">

	<select>
		<option ng-repeat="month in showDate.months" ng-selected="{{$index}} === showDate.month">{{ month }}</option>
	</select>
	<select>
		<option ng-repeat="year in showDate.years" ng-selected="year === showDate.year">{{ year }}</option>
	</select>

<calendar>
</calendar>

<!-- your code for nav and calendar directive instance here -->

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>