calendar {
	padding: 1em;
}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-justify-content: center;
   	justify-content: center;
   	-webkit-flex-wrap: wrap;
   	flex-wrap: wrap;
   	width: 100%;
   	margin: 0 auto;
}

.dates {
	border: 1px solid black;
	text-align: left;
	height: 50px;
	width: calc(80%/6);
}

/* your css code goes here */